@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #161616;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 100%;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

footer {
  flex-grow: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Mulish", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prompt", serif;
}

h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.border-h2 {
  width: 6rem;
  height: 0.2rem;
  margin: 1rem 0 3rem 0;
  background-color: #00a2f9;
  border-radius: 5px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:selected {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}