$primary: #00a2f9;
$primary_hover: #008de6;
$secondary: #07f499;
$neutral-0: #fff;
$neutral-300: #f9f9f9;
$neutral-500: #383838;
$neutral-700: #161616;
$neutral-900: #101010;
$error: #ff4d4f;
$error_hover: #d94344;

$shadow: rgba(0, 0, 0, 0.25);
$outline: rgba(0, 0, 0, 0.5);
$gradient: rgba(0, 0, 0, 0.6);
