$primary: #c4b55d;
$primary_hover: #a9984b;
$secondary: #8D7F97;
$neutral-0: #fff;
$neutral-300: #f9f9f9;
$neutral-500: #383838;
$neutral-900: #1d1d1f;
$error: #ff4d4f;
$error_hover: #d94344;

$shadow: rgba(0, 0, 0, 0.25);
$outline: rgba(0, 0, 0, 0.5);
$gradient: rgba(0, 0, 0, 0.6);
