@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.project-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-form__title {
  font-size: 2rem;
  color: #101010;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}
.project-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.project-form__group label {
  font-size: 1rem;
  color: #101010;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.project-form__input, .project-form__textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  background-color: #f9f9f9;
  color: #101010;
}
.project-form__input:focus, .project-form__textarea:focus {
  outline: none;
  border-color: #00a2f9;
}
.project-form__textarea {
  height: 120px;
  resize: none;
}
.project-form__skills-issues {
  display: flex;
  align-items: center;
}
.project-form__skills-issues input, .project-form__skills-issues textarea {
  flex-grow: 1;
  margin-right: 1rem;
}
.project-form__add-button {
  background-color: #00a2f9;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.project-form__add-button:hover {
  background-color: rgb(0, 95.6385542169, 147);
}
.project-form__skills-issues--list, .project-form__skills-issues--item {
  list-style: none;
  color: #101010;
  padding: 0;
  margin: 0;
}
.project-form__skills-issues--list {
  margin-top: 1rem;
  padding-left: 0;
}
.project-form__skills-issues--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1rem;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.project-form__skills-issues--item button {
  background-color: transparent;
  border: none;
  color: #00a2f9;
  cursor: pointer;
  font-size: 0.9rem;
}
.project-form__error {
  color: #ec4899;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}